* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    padding: 25px 0;
    background: rgb(77, 178, 254);
}

.logo {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
}

.header__nav-list {
    display: flex;
    gap: 20px;
}

.header__nav-link {
    color: white;
    font-size: 30px;
}

.header__content {
    background: rgb(136, 136, 191);
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header__content-title, .header__content-text {
    color: black;
    font-size: 40px;
}

.main {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__title {
    color: white;
    font-size: 30px;
}