* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    padding: 25px 0;
    background: grey;
}

.logo {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
}

.header__nav-list {
    display: flex;
    gap: 20px;
}

.header__nav-link {
    color: white;
    font-size: 30px;
}